{% extends 'base.html' %} {% block username %}Login{% endblock %} {% block body
%}

<div class="d-flex justify-content-center p-3 my-4">
  <div class="container mt-5 mb-4">
    <form action="/login" method="POST">
      <h2 class="mb-3">Login</h2>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-3">
          <label for="email">Email</label>
          <input
            required
            type="text"
            class="form-control"
            name="email"
            id="email"
            placeholder="email"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 mb-3">
          <label for="password">Password</label>
          <input
            required
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="password"
          />
        </div>
      </div>
      <button type="submit" class="addbt btn btn-dark mb-3">Login</button>
    </form>
  </div>
</div>
{% endblock %}
